<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wishare.contract.domains.mapper.contractset.ContractProcessRecordMapper">

    <select id="selectOneByRecordId" resultType="java.lang.Long">
        select id
        from contract_process_record
        where deleted = 0
          and id = #{recordId}
            limit 1
    </select>
</mapper>