<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wishare.contract.domains.mapper.contractset.ContractProfitLossBillMapper">
    <!-- 表字段展示 ,xml不会在表字段更新后更新，
    com.wishare.contract.domains.consts.contractset.ContractProfitLossBillFieldConst 会每次重新生成
    可以从javadoc中获取到最新的表字段列表-->
    <!-- id,collectionPlanId,profitLossPlanId,billId -->

    <select id="invoiceGetTask"
            resultType="com.wishare.contract.domains.dto.contractset.ContractProfitLossBillD">
        SELECT
            cid.invoiceId,
            cid.tenantId
        FROM contract_invoice_detail cid
        WHERE cid.invoiceStatus = 1 and cid.invoiceId is not null
    </select>
</mapper>
