<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wishare.finance.domains.voucher.repository.mapper.VoucherSchemeRuleMapper">

    <select id="selectByRuleIds" resultType="com.wishare.finance.domains.voucher.dto.VoucherSchemeRuleDto">
        select
            vs.id as voucherSchemeId, vs.name as voucherSchemeName, vsr.voucher_rule_id
        from voucher_scheme vs inner join voucher_scheme_rule vsr on vs.id = vsr.voucher_scheme_id
        where vs.deleted = 0 and vsr.deleted = 0 and vsr.voucher_rule_id in
        <foreach collection="ruleIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="selectOBVSBySchemeId" resultType="com.wishare.finance.domains.voucher.entity.VoucherSchemeRuleOBV">
        select
            vsr.voucher_scheme_id,
            vsr.voucher_rule_id,
            vr.rule_name
        from
            voucher_rule vr
                inner join voucher_scheme_rule vsr on
                vr.id = vsr.voucher_rule_id
        where vsr.voucher_scheme_id = #{schemeId} and vr.deleted = 0 and vsr.deleted = 0
    </select>

    <select id="selectSchemesByRuleId" resultType="com.wishare.finance.domains.voucher.entity.VoucherScheme">
        select vs.*
        from voucher_scheme vs
                 inner join voucher_scheme_rule vsr on vs.id = vsr.voucher_scheme_id and vsr.voucher_rule_id = #{ruleId}
        where vs.deleted = 0 and vsr.deleted = 0 and vs.disabled = 0
    </select>
</mapper>
