<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wishare.finance.domains.bill.repository.mapper.BillDeductionMapper">


    <select id="getList" resultType="com.wishare.finance.domains.bill.entity.BillDeductionE">
        SELECT *
        FROM bill_deduction
        ${ew.customSqlSegment}
    </select>

    <!--通过账单ids和状态查询收据-->
    <select id="getByBillIds" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        bill_deduction
        <where>
            <if test="billIds != null and billIds.size() > 0">
                and bill_id in
                <foreach collection="billIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>

