<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wishare.finance.domains.bill.repository.mapper.TransactionOrderMapper">

    <select id="getByVoucherId" resultType="com.wishare.finance.domains.bill.entity.TransactionOrder">
        SELECT * FROM `transaction_order` WHERE JSON_CONTAINS(voucher_ids, #{voucherId})
    </select>
</mapper>
