<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wishare.contract.domains.mapper.revision.bond.pay.RevisionBondPayMapper">
    <!-- 表字段展示 ,xml不会在表字段更新后更新，
    可以从javadoc中获取到最新的表字段列表-->
    <!-- id,code,typeCode,type,customerId,customer,contractId,contractCode,
    contractName,costCenterId,costCenterName,communityId,communityName,bondAmount,plannedPayDate,
    plannedPayAmount,orgId,orgName,chargeManId,chargeMan,remark,status,
    payAmount,collectAmount,receiptAmount,settleTransferAmount,deleted,tenantId,creator,
    creatorName,gmtCreate,operator,operatorName,gmtModify,billId,billNo,
    bankName,bankAccount -->
</mapper>
